* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.div-header{
    padding-top: 10px;
}
.logo-header{
    text-align: center;
    padding: 15px;
    font-family: 'RocknRoll One', sans-serif;
    font-size: 4em;
}
.logo-header a{
    text-decoration: none;
    color: #1868ae;
}
.nameuserr{
    color: #ef9d10;
    font-family: 'RocknRoll One', sans-serif;
    display: inline;
    margin-left: 5px;
}
.imageuserr{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
}
.aaaa {
    margin-left: 20px;
}
.aaaa .aa {
    text-decoration: none;
    border: 1px solid #1868ae;
    background-color: #1868ae;
    color: #d9a5b3 ;
    padding: 7px;
    border-radius: 7px;
    font-family: 'RocknRoll One', sans-serif;
}
.main{
    background-color: #c6d7eb;
    padding-top: 50px;
    padding-bottom: 50px;
}
.pays {
    border: 1px solid #ef9d10 ;
    background-color: #ef9d10;
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
    
}
.divpays {
    margin-top: 30px;
}
.divpays ul li {
    font-family: 'RocknRoll One', sans-serif;
    font-size: 30px;
}
.contact-footer{
    font-family: 'RocknRoll One', sans-serif;
    font-size: 2.5em;
    color: #1868ae;
    text-decoration: none;
}
.footer{
    background-color: #d9a5b3;
}