* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.div-header{
    padding-top: 10px;
}
.logo-header{
    text-align: center;
    padding: 15px;
    font-family: 'RocknRoll One', sans-serif;
    font-size: 4em;
}
.logo-header a{
    text-decoration: none;
    color: #1868ae;
}
.aaaa {
    margin-left: 20px;
}
.aaaa .aa {
    text-decoration: none;
    border: 1px solid #1868ae;
    background-color: #1868ae;
    color: #d9a5b3 ;
    padding: 7px;
    border-radius: 7px;
    font-family: 'RocknRoll One', sans-serif;
}
.main{
    background-color: #c6d7eb;
    padding-top: 50px;
    padding-bottom: 50px;
}
.seconnecter {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background-color: #ef9d10;
    border-radius: 7px;
}
.seconnecter form .input {
    display: block;
    text-align: center;
    width: 100%;
    border: none;
    margin-bottom: 20px;
    border-radius: 7px;
    padding: 10px;
    font-family: 'RocknRoll One', sans-serif;
    color: gray;
}
.seconnecter form .inputsubmit {
    width: 50%; 
    border: none;
    padding: 10px;
    font-family: 'RocknRoll One', sans-serif;
    border-radius: 7px;
    background-color: white;
    color: gray;
}
.contact-footer{
    font-family: 'RocknRoll One', sans-serif;
    font-size: 2.5em;
    color: #1868ae;
    text-decoration: none;
}
.footer{
    background-color: #d9a5b3;
}